*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --poppins: 'Poppins', sans-serif;
    --inter: 'Inter', sans-serif;
    --preto: rgb(41, 41, 41);
    --sombra: 0px 5px 30px -12px #00000066;
    --verde: #3d774e;
}

body{
    font-family: var(--inter);
    color: var(--preto);
    background-color: #FFFDF8;
}

main{
    margin-top: 20%;
    padding-left: 12%;
    padding-right: 12%;
}

header{
    display: flex;
}

nav{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 120px;
    box-shadow: var(--sombra);
    background-color: #FFFDF8;
    z-index: 1000;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20%;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: var(--preto);
    font-weight: 520;
    transition: 0.2s;
}

nav ul li a:hover{
    transform: scale(1.06);
    text-decoration: overline 1.5px;
    color: var(--verde);
}

nav .logo {
    position: absolute;
    display: flex;
    margin-right: 85%;
    margin-top: 0.5%;
}

nav .logo img{
    width: 80px;
    height: 100px;
    cursor: pointer;
}

nav .logo img:hover{
    transform: scale(1.02);
}

.inicio {
    width: 53%;
    font-size: 30px;
}

.subtitulo h3{
    margin-top: 0.5%;
    font-size: 21px;
    font-weight: 450;
}

#inicio button{
    width: 200px;
    height: 50px;
    margin-top: 3%;
    border-radius: 6px;
    background: none;
    border: solid;
    border-width: 3px;
    border-color: var(--verde);
    transition: 0.2s;
}

#inicio button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    font-family: var(--poppins);text-decoration: none;
    font-size: 18px;
    font-weight: 420;
    color: var(--verde);
    transition: 0.2s;
}

button:hover{
    transform: scale(1.1);
}

.imagem{
    display: flex;
    justify-content: end;
    position: absolute;
    margin-left: 32%;
    margin-top: 11%;
}

.imagem img{
    width: 58%;
}

#cursos{
    margin-top: 25%;
}

#cursos h1{
    display: flex;
    justify-content: center;
    font-family: var(--poppins);
    font-size: 40px;
    color: var(--verde);
}

.cursos{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 5%;
}

.cursos .curso{
    width: 32%;
    height: 500px;
    box-shadow: var(--sombra);
    border-radius: 10px;
    margin-bottom: 2%;
}

#beneficios{
    margin-top: 20%;
}

.container{
    display: flex;
    gap: 2%;
}

#beneficios h1{
    display: flex;
    justify-content: center;
    font-family: var(--poppins);
    font-size: 40px;
    color: var(--verde);
}

.beneficio{
    display: flex;
    justify-content: start;
    width: 50%;
    height: 500px;
    box-shadow: var(--sombra);
    border-radius: 10px;
    margin-top: 5%;
}

.beneficio ul{
    position: absolute;
    list-style: none;
    padding-left: 4%;
    padding-top: 8%;
    width: 18%;
}

.beneficio ul li{
    display: flex;
    font-size: 22px;
}

.beneficio ul li span{
    color: var(--verde);
}

#beneficios img{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 18%;
    margin-left: 18%;
    margin-top: 8%;
}

.beneficio .texto{
    display: flex;
    justify-content: center;
    font-family: var(--poppins);
    font-size: 40px;
    padding: 8%;
    color: var(--verde);
}

.beneficio .texto h2{
    padding-top: 10%;
    align-items: center;
    text-align: center;
}

#formulario{
    margin-top: 20%;
}

#formulario h1{
    display: flex;
    justify-content: center;
    font-family: var(--poppins);
    font-size: 40px;
    color: var(--verde);
}

.formulario{
    display: flex;
    justify-content: center;
    box-sizing: var(--sombra);
    width: 100%;
    height: 400px;
    margin-top: 6%;
}

.formulario form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--sombra);
    padding: 35px;
    width: 500px;
    height: 620px;
    border-radius: 10px;
}

form label{
    color: var(--verde);
    font-size: 24px;
    font-weight: 500;
    margin-top: 5%;
}

form input{
    margin-top: 3%;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: var(--verde);
}

form input::placeholder{
    color: var(--verde);
    font-family: var(--poppins);
    font-weight: 400;
}

form input:focus{
    border-color: var(--verde);
}

form select{
    margin-top: 3%;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: var(--verde);
    font-family: var(--poppins);
}

form select:focus{
    border-color: var(--verde);
}

form select option{
    color: var(--verde);
    font-family: var(--poppins);
    font-weight: 400;
    padding: 3%;
}

form button{
    width: 200px;
    height: 40px;
    margin-top: 3%;
    border-radius: 6px;
    background: none;
    border: solid;
    border-width: 2px;
    font-family: var(--poppins);
    font-size: 17px;
    font-weight: 500;
    color: var(--verde);
    border-color: var(--verde);
    transition: 0.2s;
    cursor: pointer;
}

form button:hover{
    transform: scale(1.06);
}

form .botao{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

footer{
    margin-top: 20%;
    padding: 3%;
    box-shadow: var(--sombra);
    height: 250px;
}


footer .contatos h3{
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: var(--verde);
}

footer ul{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    list-style: none;
    gap: 1.5%;
}

footer ul li i{
    font-size: 32px;
    transition: 0.2s;
    cursor: pointer;
    color: var(--verde);
}

footer ul li i:hover{
    transform: translateY(-8px);
}

h4{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-weight: 450;
    font-size: 17px;
    color: var(--verde);
}

